@model MobileStoreBLL.SanPham

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.maSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.maSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tenSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tenSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.hangSX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.hangSX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.giaSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.giaSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.thongtinSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.thongtinSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tinhtrangSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tinhtrangSP)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
