@model MobileStoreBLL.ViewModel.ChiTietSanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SanPham.maSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SanPham.maSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SanPham.tenSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SanPham.tenSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SanPham.hangSX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SanPham.hangSX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SanPham.giaSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SanPham.giaSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SanPham.thongtinSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SanPham.thongtinSP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SanPham.tinhtrangSP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SanPham.tinhtrangSP)
    </div>
</fieldset>
@foreach (var bl in Model.DSBinhLuan)
{
    @bl.noidungBL
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SanPham.maSP}) |
    @Html.ActionLink("Back to List", "Index")
</p>
